
@media screen and (max-width:1199px){
.carousel-control-next, .carousel-control-prev { width:1em;  }
}

@media screen and (min-width:1200px){
.container { max-width: 960px; }
.resp-tables .container { max-width: 1200px; }
}

@media screen and (max-width:1366px){

}

@media screen and (min-width:1367px){
    
}

@media screen and (max-width:1366px){

}

@media screen and (min-width:768px){
.managed-by p { max-width:40em} 
.carousel-control-next { left:100%;  } 
.carousel-control-prev { right:100%; left: auto;} 
.form-row{ margin-right:-2em; margin-left:-2em; }
.form-row>.col, .form-row>[class*=col-] { padding-right:2em; padding-left:2em; }

.resp-tables .table td, .resp-tables .table th { text-align: center; }
}

@media screen and (max-width:768px){
/*Push Menu Css*/
.nav-shade { background:rgba(0,0,0,0.5); position: fixed; left: 0; top: 0; bottom: 0; right:0; z-index: 2; }
#menu-trigger { display: block;  }
.pushmenu { background: #2857a4; text-align: center; font-family: Tahoma, Geneva, sans-serif; width: 300px; height: 100%; top: 0; z-index: 1000; position: fixed; }
.pushmenu h3 { color: #f1f1f1; font-size: 1.3em; font-weight: 400; padding: 15px 25px; margin: 0; background: #333; height: 16px; } 
.pushmenu-left { left: -300px; } 
.pushmenu-left.pushmenu-open { left: 0; }
.pushmenu-push { overflow-x: hidden; position: relative; left: 0; }
.pushmenu-push-toright { left: 300px; }
.pushmenu, .pushmenu-push { -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease; }
.pushmenu-left.pushmenu-open ul { width: 100%; border-bottom: 1px solid rgba(255,255,255,.2); padding: 1em 0; }
.pushmenu-left.pushmenu-open ul li { display: block; text-align: left; padding: 0 1em;}
.pushmenu-left.pushmenu-open ul li a { padding: 0.5em 0em;}
.pushmenu-left.pushmenu-open ul li .btn-orange { min-width: 10em; }
/*Push Menu Css*/
.btn-user { display: none; }
}

@media only screen and (max-width: 767px) {
.resp-tables table, 
.resp-tables thead, 
.resp-tables tbody, 
.resp-tables th, 
.resp-tables td, 
.resp-tables tr {  display: block; }
.resp-tables thead tr {  position: absolute; top: -9999px; left: -9999px;}
.resp-tables tr { border-bottom: 1px solid #aaa; }
.resp-tables .table td { padding: 1em 0; }
.resp-tables td { border: none; position: relative; padding: 0; padding-left: 50%;  white-space: normal; text-align:left; }
.resp-tables td:before { position: absolute; top: 1em; left: 0; width: 45%;  padding-right: 1em; white-space: nowrap; text-align:left; font-weight: bold; } 
.resp-tables td:before { content: attr(data-title); }
.resp-tables .table tr:first-child td:first-child { display: block; border-bottom: 1px solid #aaa; }
.resp-tables .table td:first-child { display: none; }
.resp-tables .table td b { display: inline-block; }
.resp-tables .table td b.mob-hide { display: none; }
}


@media screen and (max-width:599px){
body {font-size: 12px;}
.box .txt-cont h3 { margin-top:0.8em; }
header .logo img { max-width: 12em; }
.footer-link-box + .footer-link-box {margin-top: 2em; }
.box { margin:1em 0; }
.btn-container { margin-top: 2em; }
.acc-sec-list > li { width:100%; float: none;}
.link-list { display: block; }
.link-list li { display: block; text-align: center; }
.footer-link.mob-50 { width:100%; }
.footer-link.mob-50 li { width:50%; float: left; margin: 0.5em 0; }
.footer-link.mob-50  > li + li { margin-top: 0.5em; }
}


